.player {
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 50px;
}

.player h2 {
  font-size: 4rem;
  font-weight: bold;
}

.counts {
  display: flex;
  column-gap: 2rem;
}

.counts h3 {
  font-size: 1.5rem;
  font-weight: bold;;
}

.object {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.object h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.innerObject {
  width: 150px;
  height: 175px;
  border: 1px solid #f441a5;
  border-radius: 20px;
}

.player button {
  text-decoration: none;
  color: #fff;
  width: 300px;
  height: 50px;
  padding: 1rem 4rem;
  text-align: center;
  background: linear-gradient(
    90deg, #03a9f4, #f441a5,
    #ffeb3b, #03a9f4
  );
  background-size: 300%;
  border-radius: 15px;
  text-transform: title;
  z-index: 1;
  border: none;
}

.player button::before {
  content: '';
  z-index: -1;
  background: linear-gradient(
    90deg, #03a9f4, #f441a5,
    #ffeb3b, #03a9f4
  );
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.player button:hover {
  animation: animation 8s linear infinite;
  border: none;
}

.player button:hover::before {
  filter: blur(20px);
}

@keyframes animation {
  0% { background-position: 0%; }
  100% { background-position: 400%; }
}