.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.75);
}

.content {
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 30vh;
}

.content h1 {
  color: yellow;
  font-size: 12rem;
  text-align: center;
  width: 100%;
  animation: slideIn 2s;
}

@keyframes slideIn{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(100%);
  }
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

@media (min-width: 669px) and (max-width: 1024px) {
  .content h1 {
    font-size: 6rem;
  }
}